@charset "UTF-8";
.flex {
  display: flex;
  gap: 2rem; }

.grid {
  display: grid; }

.grid12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.grid-span {
  grid-column: 1 / -1; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; }

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto; }

.u-grid {
  display: grid;
  gap: var(--grid-gutter); }

.font-primary {
  font-family: "Cinzel", serif; }

.font-secondary {
  font-family: "Poppins", sans-serif; }

.heading-1 {
  font-size: var(--step-4); }

.heading-2 {
  font-size: var(--step-1); }

.heading-3 {
  font-size: var(--step-0); }

.paragraph-1 {
  font-size: var(--step--1); }

.paragraph-2 {
  font-size: var(--step--2); }

:root {
  /* -----------UTOPIA FLUID TYPE SCALE-------------- */
  /* Step -2: 12.50px → 19.20px */
  --step--2: clamp(0.78rem, calc(0.64rem + 0.73vw), 1.2rem);
  /* Step -1: 15.00px → 24.00px */
  --step--1: clamp(0.94rem, calc(0.74rem + 0.98vw), 1.5rem);
  /* Step 0: 18.00px → 30.00px */
  --step-0: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
  /* Step 1: 21.60px → 37.50px */
  --step-1: clamp(1.35rem, calc(1rem + 1.73vw), 2.34rem);
  /* Step 2: 25.92px → 46.88px */
  --step-2: clamp(1.62rem, calc(1.16rem + 2.28vw), 2.93rem);
  /* Step 3: 31.10px → 58.59px */
  --step-3: clamp(1.94rem, calc(1.35rem + 2.99vw), 3.66rem);
  /* Step 4: 37.32px → 73.24px */
  --step-4: clamp(2.33rem, calc(1.55rem + 3.9vw), 4.58rem);
  /* Step 5: 44.79px → 91.55px */
  --step-5: clamp(2.8rem, calc(1.78rem + 5.08vw), 5.72rem);
  /* -----------UTOPIA FLUID SPACE SCALE-------------- */
  --grid-max-width: 77.5rem;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem)
  );
  --grid-columns: 12; }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  text-transform: none;
  color: inherit; }

.primary-header {
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  width: 100%; }

.hero {
  align-items: center; }
  .hero-text {
    grid-column: 2 / 9; }
  .hero-img {
    grid-column: 9 / -1;
    width: 450px; }

.nav {
  backdrop-filter: blur(1rem); }

.mobile-nav-toggle {
  display: none; }

@media (max-width: 35rem) {
  .nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    flex-direction: column;
    padding: 10rem 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out; } }

@media (max-width: 35rem) and (min-width: 35rem) {
  .nav {
    padding: 3rem; } }

@media (max-width: 35rem) {
  .nav[data-visible="true"] {
    transform: translateX(0%); }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 99999;
    background-color: steelblue;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem; }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../img/menu-close.svg); } }

.footer {
  background-color: #679267;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem; }
  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .footer-social-icon {
      width: 40px; }
  .footer-nav {
    columns: 2; }
  .footer-nav a:is(:hover, :focus) {
    color: aquamarine; }

.portfolio-project-1 {
  grid-column: 4 / 10; }

.portfolio-project-img {
  width: 100%; }

.blog-container {
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2 / 12; }

.blog-card {
  background-color: whitesmoke; }
