@charset "UTF-8";
.flex {
  display: flex;
  gap: 2rem; }

.grid12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; }

.font-primary {
  font-family: "Cinzel", serif; }

.font-secondary {
  font-family: "Poppins", sans-serif; }

.heading-1 {
  font-size: var(--step-3); }

:root {
  /* Step -2: 12.50px → 25.60px */
  --step--2: clamp(0.78rem, calc(0.5rem + 1.42vw), 1.6rem);
  /* Step -1: 15.00px → 32.00px */
  --step--1: clamp(0.94rem, calc(0.57rem + 1.85vw), 2rem);
  /* Step 0: 18.00px → 40.00px */
  --step-0: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
  /* Step 1: 21.60px → 50.00px */
  --step-1: clamp(1.35rem, calc(0.73rem + 3.09vw), 3.13rem);
  /* Step 2: 25.92px → 62.50px */
  --step-2: clamp(1.62rem, calc(0.82rem + 3.98vw), 3.91rem);
  /* Step 3: 31.10px → 78.13px */
  --step-3: clamp(1.94rem, calc(0.92rem + 5.11vw), 4.88rem);
  /* Step 4: 37.32px → 97.66px */
  --step-4: clamp(2.33rem, calc(1.02rem + 6.56vw), 6.1rem);
  /* Step 5: 44.79px → 122.07px */
  --step-5: clamp(2.8rem, calc(1.12rem + 8.4vw), 7.63rem); }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  text-transform: none;
  color: inherit; }

.primary-header {
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  width: 100%; }

.hero {
  align-items: center;
  height: 80vh; }
  .hero-text {
    grid-column: 2 / 9; }
  .hero-img {
    grid-column: 9 / -1;
    width: 450px; }

.nav {
  backdrop-filter: blur(1rem); }

.mobile-nav-toggle {
  display: none; }

@media (max-width: 35rem) {
  .nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    flex-direction: column;
    padding: 10rem 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out; } }

@media (max-width: 35rem) and (min-width: 35rem) {
  .nav {
    padding: 3rem; } }

@media (max-width: 35rem) {
  .nav[data-visible="true"] {
    transform: translateX(0%); }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 99999;
    background-color: steelblue;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem; }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../img/menu-close.svg); } }

.footer {
  background-color: #679267;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem; }
  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .footer-social-icon {
      width: 40px; }
  .footer-nav {
    columns: 2; }
  .footer-nav a:is(:hover, :focus) {
    color: aquamarine; }
